.td-remove {
    height: 30px;
    background: transparent url('../../assets/imgs/remove.png') 0% 0% no-repeat padding-box;
    background-position: center;
    border: 0ch;
    text-align: center;
  }
  
  .td-edit {
    height: 30px;
    background: transparent url('../../assets/imgs/edit.png') 0% 0% no-repeat padding-box;
    background-position: center;
    border: 0ch;
    text-align: center;
  }

  .button-col {
    margin-top: 30px;
    top: 330px;
    height: 30px;
    background: #5CAC21 0% 0% no-repeat;
    border-radius: 4px;
    opacity: 1;
    font-size: small;
  }
  
  input {
    height: 30px;
  }

  th {
    background-color: #E0E0E0;
    font-size: small;
  }

  td {
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    font-size: small;
  }

  .td-align {
    text-align: center;
  }

  @media (max-width: 770px) {
  
    .table-action thead {
      display: none;
    }

    .table-action tr {
      border-bottom: 1px solid #dddddd;
    }
    .table-action td {
      border: 0;
    }

    .table-action td:not(:first-child) {
      display: block;
    }
  }