aside.logo {
    background-color: var(--bg-topo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }
  
 aside.logo img {
    padding: 0px;
    width: 100%;
 }
 