.subHeader {
    background: #ffffff 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns:
        60px 1fr;
    grid-template-rows:
        1fr;
    grid-template-areas:
        "icon title obrigatorio";
    margin: 0px;
}

.formContent {
    font-size: small;
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: 0px 2px 2px #00000067;
}

.icon {
    margin-left: 0px;
    margin-top: 20px;
    width: 60px;
    height: 60px;
    background: transparent url('../../assets/imgs/icon.png') 0% 0% no-repeat padding-box;
}

.title {
    width: 200px;
    margin-top: 37px;
    margin-left: 10px;
    text-align: left;
    font: normal normal normal 25px/28px Roboto;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
    color: #515151;
    opacity: 1;
}

.obrigatorio {
    margin-top: 67px;
    height: 20px;
    font-size: small;
    vertical-align: bottom;
}
